@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body
{
    background: #d2b4de;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container
{
    position: relative;
    width: 100%;
    max-height: 1000px;
    min-width: 100px;
    background:  #fff;
}
.container .left_Side
{
    position: relative;
    background:  #ff50ff;
}